<style>
    .stamp {
        position: absolute;
        height: 86px;
        width: 86px;
        left: -104px;
        top: -8px;
    }

        .stamp i {
            padding: 18px 20px;
        }
</style>


<div class="row mb-3 mt-5">
    <div class="col-10 offset-1">
        <div class="p-5 card box-shadow" style="padding-left:5rem; padding-right:5rem; ">
            <h4 class="mb-4 card-title ">Benefits You've Elected In</h4>
            <small class="text-secondary mb-3 d-inline-block">Your 2017 election was "Coordinated Care; Employee Only"</small>
            <div class="row mt-1 no-gutters">
                <div class="col no-gutter">
                    <h6 class="green-header">You added yourself</h6>
                    <div class="card box-shadow stamp">
                        <i class="fa fa-info-circle fa-3x"></i>
                    </div>
                </div>
                <div class="col no-gutter text-right">
                    <a href="/Enroll/Edit" class="btn btn-outline-default">Edit</a>
                </div>
            </div>
            <div class="row py-2 dashed-bottom no-gutters">
                <div class="col text-muted ">
                    Name
                </div>
                <div class="col ">
                    Phil Miller
                </div>
            </div>
            <div class="row py-2 dashed-bottom no-gutters">
                <div class="col text-muted ">
                    Address
                </div>
                <div class="col ">
                    2555 W Logan Blvd, Chicago, IL 60647
                </div>
            </div>
            <div class="row py-2 dashed-bottom no-gutters">
                <div class="col text-muted ">
                    Phone
                </div>
                <div class="col ">
                    (224) xxx-xxxx
                </div>
            </div>
            <div class="row py-2 dashed-bottom no-gutters">
                <div class="col text-muted">
                    SSN
                </div>
                <div class="col">
                    xxx-xx-1234
                </div>
            </div>
            <div class="row py-2 dashed-bottom no-gutters">
                <div class="col text-muted">
                    Birth Day
                </div>
                <div class="col">
                    2/9/1987
                </div>
            </div>
            <div class="row mt-5 no-gutters">
                <div class="col">
                    <h6 class="green-header">You added dependents</h6>
                    <div class="card box-shadow stamp">
                        <i class="fa fa-users fa-3x"></i>
                    </div>
                </div>
                <div class="col text-right">
                    <a href="/Dependents" class="btn btn-outline-default">Edit</a>
                </div>
            </div>
            <div class="row py-2 dashed-bottom no-gutters">
                <div class="col text-muted no-gutter">
                    Meg Miller; spouse
                </div>
                <div class="col green-verification">
                    <i class="fa fa-check"></i> Verification approved
                </div>
            </div>
            <div class="row py-2 dashed-bottom no-gutters">
                <div class="col text-muted">
                    Lily Miller; child
                </div>
                <div class="col no-gutter yellow-verification">
                    <i class="fa fa-clock-o"></i> Verification pending
                </div>
            </div>
            <div class="row mt-5 no-gutters">
                <div class="col">
                    <h6 class="green-header">You added beneficiaries</h6>
                    <div class="card box-shadow stamp">
                        <i class="fa fa-address-book-o fa-3x"></i>
                    </div>
                </div>
                <div class="col text-right">
                    <a href="/Beneficiaries" class="btn btn-outline-default">Edit</a>
                </div>
            </div>
            <div class="row py-2 dashed-bottom no-gutters">
                <div class="col text-muted">
                    Meg Miller; spouse
                </div>
                <div class="col">
                    70%
                </div>
            </div>
            <div class="row py-2 dashed-bottom no-gutters">
                <div class="col text-muted">
                    Lily Miller; child
                </div>
                <div class="col">
                    30%
                </div>
            </div>
            <div class="row mt-5 no-gutters">
                <div class="col">
                    <h6 class="green-header">You added medical coverage</h6>
                    <div class="card box-shadow stamp">
                        <i class="fa fa-heart-o fa-3x"></i>
                    </div>
                </div>
                <div class="col text-right">
                    <a href="/Enroll/Edit" class="btn btn-outline-default">Edit</a>
                </div>
            </div>
            <div class="row py-2 dashed-bottom no-gutters">
                <div class="col text-muted">
                    Coordicated Care; Employee Only
                </div>
                <div class="col">
                    $90.00/<span class="text-muted">period</span>
                </div>
            </div>

        </div>
        <p class="text-center pt-5 pb-2">Don't forget to add other options:</p>
        <div class="row no-gutters">
            <div class="p-3 col-5 mr-4 card box-shadow">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-lock fa-3x m-2"></i>
                    </div>
                    <div class="col-9">
                        <h5 class="card-title m-0">Add LifeLock</h5>
                        <p class="card-text text-muted">
                            Enter basic personal information
                        </p>
                    </div>
                </div>
            </div>
            <div class="p-3 col-5 mr-4 card box-shadow">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-eye fa-3x m-2"></i>
                    </div>
                    <div class="col-9">
                        <h5 class="card-title m-0">Add Vision</h5>
                        <p class="card-text text-muted">
                            Enter basic personal information
                        </p>
                    </div>
                </div>
            </div>
            <a href="/Enroll" class="plain-link">
                <div class="p-4 dashed rounded text-center" style="height:105px">
                    <small class="text-muted font-weight-bold pt-3 pl-1 d-inline-block">SEE ALL</small>
                </div>
            </a>
        </div>


        <div class="p-5 card box-shadow mt-5">
            <h5 class="card-title text-muted text-center">Your total deductions for <b>2018</b> coverage: <b>$275.00</b> per pay period</h5>
            <small class="text-muted d-inline-block my-3 text-center">
                If you don't have all of the information or documents you need right now, you can save your elections and pick up where you left off at a later time...
                <span class="text-danger font-weight-bold"> but remember to come back and submit them before open enrollment ends on December 6th!</span>
                if you're finished, you can submit them now.  As a reminder, you are required to add any coverage paid for by your employer.
            </small>
            <div class="text-center mt-3">
                <a href="/Dashboard" class="btn btn-default px-4 py-2 m-2">Save &amp; Exit</a>
                <a href="/Enroll/Success" class="btn btn-primary px-4 py-2 m-2">Confirm</a>
            </div>
        </div>
    </div>
</div>
