@{
    ViewBag.Title = "Success";
}

<div class="card m-5 p-5 box-shadow">
    <div class="card-body ">
        <h3 class="card-title mb-4">Well Done!</h3>
        <p class="card-text">
            You're successfully submitted! Example text goes here.
        </p>
        <p class="card-text">
            Another note needed to tell user about next steps.  Another note needed to tell user about next steps.  Example text.
        </p>
        <a class="btn btn-primary box-shadow py-3 px-5 mt-5" href="/Dashboard">Great, Thanks!</a>
    </div>
</div>
